<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand logo" href="#">HaveFun</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div class="search_bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Explore your own activities">
      </div>
    </div>
  </div>
</nav>

