.navbar {
  background: #7828B4;
  height: 90px;
}

.logo {
  font-family: Optima-ExtraBlack;
  font-size: 36px;
  color: #FFFFFF !important;
  text-decoration: none;
}
.fa-search {
  color: white;
  font-size: 20px;
}
input {
  border: none ;
  outline: none;
  background-color:#7828B4;
  color: #FFFFFF;
  width: 200px;
  font-size: 15px;
  margin-left: 20px;
}
.search_bar {
  width: 330px;
  border-bottom: 1px solid #FFFFFF;
}
::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-style: italic;
}
