<div class="content">
  <div class="title">Showing
    <span>
      <strong>15</strong>
    </span> results by…</div>
  <div>
    <el-tag class="tag" *ngFor="let tag of tags" [closable]="true" [type]="tag.type">
      {{tag.name}}
    </el-tag>
  </div>
  <div class="card">
    <div class="row no-gutters">
      <div class="col-lg-3 ">
        <img src="../../assets/img/demo.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-9 ">
        <div class="data-title">Kogi Cosby sweater.</div>
        <div class="data-content">Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt
          mattis lorem luctus id. </div>
        <!-- <div class="data-temp">Ethan Foster</div>
            <div class="data-temp1">Entertainment</div> -->
        <div class="row">
          <div class="col-lg-4">
            <div class="data-city">
              <i class="fas fa-map-marker-alt"></i> Kaohsiung City</div>
          </div>
          <div class="col-lg-8">
            <div class="data-date">
              <i class="fas fa-calendar-alt"></i>
              2018/5/24 - 2018/5/31</div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="card">
    <div class="row no-gutters">
      <div class="col-lg-3">
        <img src="../../assets/img/demo.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-9">
        <div class="data-title">Kogi Cosby sweater.</div>
        <div class="data-content">Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt
          mattis lorem luctus id. </div>
        <!-- <div class="data-temp">Ethan Foster</div>
              <div class="data-temp1">Entertainment</div> -->
        <div class="row">
          <div class="col-lg-4">
            <div class="data-city">
              <i class="fas fa-map-marker-alt"></i> Kaohsiung City</div>
          </div>
          <div class="col-lg-8">
            <div class="data-date">
              <i class="fas fa-calendar-alt"></i>
              2018/5/24 - 2018/5/31</div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="block">
    <div class="row ">

      <div class="col-lg-6"></div>
      <div class="col-lg-5">
        <div>
          <el-pagination [total]="200" [layout]="['prev', 'pager', 'next']" [small]=true>
          </el-pagination>
        </div>
      </div>
    </div>


  </div>

</div>
