.title {
  font-family: Roboto-Regular;
  font-size: 24px;
  color: #000000;
}
.title > span {
 color: #9013FE ;

}
.content {
  margin-top: 20px;
  margin-left: 40px;
}
.tag {
  margin-right: 8px;
}
.card {
  margin-top: 24px;
  width: 75%;
  height: 194px;
  background: white;

}
.data-title {
  font-family: Roboto-Bold;
  font-size: 24px;
  color: #9013FE;
  line-height: 36px;
  margin-top: 24px;
  margin-left: 20px;
}

.data-content {
  width: 100%;
  font-family: Roboto-Bold;
  font-size: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
}
.data-city {
  margin-bottom: 16px;
  margin-left: 20px;
  font-family: Roboto-Bold;
  font-size: 16px;
}
.data-date {
  margin-bottom: 16px;
  margin-left: 20px;
  font-family: Roboto-Bold;
  font-size: 16px;
}
.block{
  background: #f2f2f2;
  margin-top: 24px;
}
