<app-header></app-header>

<div class="container-fluid">
  <div class="row ">
    <div class="col-lg-3 aside">
        <app-aside></app-aside>
    </div>
    <div class="col-lg-9">
        <app-main></app-main>
    </div>
  </div>
</div>
