<div class="col-12 location">
    <span>Location</span>
    <div class="w-100"></div>
    <el-dropdown [model]="data" [split-button]="true" type="primary">
      請選擇區域
    </el-dropdown>
  </div>
  <div class="col-12">
    <div class="date">
      <span>Date</span>
      <div class="w-100"></div>
      From
      <el-date-picker placeholder='請選日期'>
      </el-date-picker>
      <div class="w-100"></div>
      To
      <el-date-picker placeholder='請選日期'>
      </el-date-picker>
    </div>
  </div>
  <div class="col-12">
      <div class="categories">
        <span>Categories</span>
        <div class="w-100"></div>
        <div class="check_list">
            <el-checkbox-group>
              <div el-col [span]="24">
                <el-checkbox label="All"></el-checkbox>
              </div>

              <div el-col [span]="24">
                <el-checkbox label="Entertainment"></el-checkbox>
              </div>

              <div el-col [span]="24">
                <el-checkbox label="Food"></el-checkbox>
              </div>

              <div el-col [span]="24">
                <el-checkbox label="Learning"></el-checkbox>
              </div>

              <div el-col [span]="24">
                <el-checkbox label="Outdoors"></el-checkbox>
              </div>
            </el-checkbox-group>
          </div>
      </div>
  </div>
