
.location {
  height: 100px;
  border-bottom: 1px solid #D7D7D7;
  padding-left: 10%;
  padding-top: 5%;
}
.date {
  height: 200px;
  border-bottom: 1px solid #D7D7D7;
  padding-left: 10%;
  padding-top: 5%;
}
.categories {
  height: 300px;
  padding-left: 10%;
  padding-top: 5%;
}
