/* You can add global styles to this file, and also import other style files */
@import "~element-angular/theme/index.css";
body {
  margin: 0 auto;
  padding: 0px;
  background: #F2F2F2;
  width: 100vw;
}
